
 <%- include('templates/header.ejs'); %>

 <%- include('templates/nav.ejs', {page: 'configmaps'}); %>



						<table
						class="pf-c-table pf-m-grid-md"
						role="grid"
						aria-label="This is a simple table example"
						id="table-basic"
						>
						<caption>This is the table caption</caption>
						<thead>
							<tr role="row">
							<th role="columnheader" scope="col">Repositories</th>
							<th role="columnheader" scope="col">Branches</th>
							<th role="columnheader" scope="col">Pull requests</th>
							<th role="columnheader" scope="col">Workspaces</th>
							<th role="columnheader" scope="col">Last commit</th>
							</tr>
						</thead>

						<tbody role="rowgroup">
							<tr role="row">
							<td role="cell" data-label="Repository name">Repository 1</td>
							<td role="cell" data-label="Branches">10</td>
							<td role="cell" data-label="Pull requests">25</td>
							<td role="cell" data-label="Workspaces">5</td>
							<td role="cell" data-label="Last commit">2 days ago</td>
							</tr>

							<tr role="row">
							<td role="cell" data-label="Repository name">Repository 2</td>
							<td role="cell" data-label="Branches">10</td>
							<td role="cell" data-label="Pull requests">25</td>
							<td role="cell" data-label="Workspaces">5</td>
							<td role="cell" data-label="Last commit">2 days ago</td>
							</tr>

							<tr role="row">
							<td role="cell" data-label="Repository name">Repository 3</td>
							<td role="cell" data-label="Branches">10</td>
							<td role="cell" data-label="Pull requests">25</td>
							<td role="cell" data-label="Workspaces">5</td>
							<td role="cell" data-label="Last commit">2 days ago</td>
							</tr>

							<tr role="row">
							<td role="cell" data-label="Repository name">Repository 4</td>
							<td role="cell" data-label="Branches">10</td>
							<td role="cell" data-label="Pull requests">25</td>
							<td role="cell" data-label="Workspaces">5</td>
							<td role="cell" data-label="Last commit">2 days ago</td>
							</tr>
						</tbody>
						</table>
					
		
	

<%- include('templates/footer.ejs', {excludeClosingTags: true}); %>
</body>
</html>
        