<%- include('templates/header.ejs'); %>

<%- include('templates/nav.ejs', {page: 'autoscaling'}); %>

<!-- container -->



<!-- /container -->

<%- include('templates/footer.ejs', {excludeClosingTags: true}); %>
</body>
</html>
